<div class="col-sm-12">
  <h2>Wetterdaten für Wassersportler in HD
    <sup>*</sup>
  </h2>
</div>

<div class="col-sm-12">
  <div class="row">
    <div id="tendency-rose">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Black_Left_Arrow.png" id="windvane" width="100" style="transition: transform 2s;
    position: relative;
    bottom: 20px;
    left: -50px;" />
    </div>
    <div style="margin-left:5px">
      <!--<div class="col-sm-1" id="windvane-label"></div>
      -->
      <div>
        <h4 id="winddir"></h4>
      </div>

      <div>
        <h4 id="windspeed"></h4>
      </div>
      <div>
        <h4 id="windspeedComment"></h4>
      </div>
    </div>

  </div>
</div>
<!--
<div class="col-sm-12">
  <h4 id="rain"></h4>
</div>
-->
<!--/div>-->
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6" style="position: relative">
      <canvas id="anemoChart"></canvas>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" style="position: relative">
      <canvas id="vaneChart"></canvas>
    </div>
    <!--
    <div class="col-sm-12 col-md-6 col-lg-6">
      <canvas id="rainChart" width="400" height="200"></canvas>
    </div>
    -->
  </div>
</div>
