<div class="col-sm-12">
  <h2>Wetterdaten für Wassersportler in HD
    <sup>*</sup>
  </h2>

</div>

<div id="tendency-rose">
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Black_Left_Arrow.png" id="windvane" width="100" style="transition: transform 0.5s;
    position: relative;
    bottom: 20px;
    left: -50px;" />
</div>
<div>
  <div class="col-md-4" id="windvane-label"></div>
  <div class="col-md-8">
    <h3 id="windspeed"></h3>
  </div>
</div>
<!--
<div class="col-sm-12">
  <h4 id="rain"></h4>
</div>
-->
<!--/div>-->
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6" style="position: relative">
      <canvas id="anemoChart"></canvas>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" style="position: relative">
      <canvas id="vaneChart"></canvas>
    </div>
    <!--
    <div class="col-sm-12 col-md-6 col-lg-6">
      <canvas id="rainChart" width="400" height="200"></canvas>
    </div>
    -->
  </div>
</div>
