header {
  background-color: lightgray;
}

nav {
  background-color: lightgray;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  display: flex;
  flex: 2;
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  flex: 1;
  text-align: center;
}

div.hidediv {
  display: none
}


#tendency-rose {
  width: 120px;
  height: 120px;
  border-right: 60px solid gold;
  border-top: 60px solid #bada55;
  border-left: 60px solid #bada55;
  border-bottom: 60px solid #bada55;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  transition: ease-in-out 3s;
}

.sunset {
  background-color: rgb(242, 242, 242);
  margin: 5px;
  border-radius: 8px;
}

/* initially hide the extended sunset infos */
.fn-extended-sunset {
  display: none;
}
